In [1]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.0.2-cp39-cp39-macosx_10_9_x86_64.whl (11.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.8/11.8 MB 4.8 MB/s eta 0:00:0000:0100:01m
Collecting tzdata>=2022.1
  Using cached tzdata-2023.3-py2.py3-none-any.whl (341 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/jmcaffee/git/python-playground/venv/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.20.3 in /Users/jmcaffee/git/python-playground/venv/lib/python3.9/site-packages (from pandas) (1.24.3)
Collecting pytz>=2020.1
  Using cached pytz-2023.3-py2.py3-none-any.whl (502 kB)
Requirement already satisfied: six>=1.5 in /Users/jmcaffee/git/python-playground/venv/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.0.2 pytz-2023.3 tzdata-2023.3

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: pip install --upgrade pip

In [1]:
import pandas as pd
file_path = "../datasets/datascience_salaries_2023.csv"
salaries_df = pd.read_csv(file_path)

FileNotFoundError: [Errno 2] No such file or directory: 'datasets/datascience_salaries_2023.csv'

In [7]:
#info gives us the column name, nn count, and data type
salaries_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3755 entries, 0 to 3754
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           3755 non-null   int64
 1   experience_level    3755 non-null   object
 2   employment_type     3755 non-null   object
 3   job_title           3755 non-null   object
 4   salary              3755 non-null   int64
 5   salary_currency     3755 non-null   object
 6   salary_in_usd       3755 non-null   int64
 7   employee_residence  3755 non-null   object
 8   remote_ratio        3755 non-null   int64
 9   company_location    3755 non-null   object
 10  company_size        3755 non-null   object
dtypes: int64(4), object(7)
memory usage: 322.8+ KB

In [12]:
# value_counts provides the count of each value in a Dtype of object.
salaries_df["company_location"].value_counts()

company_location
US    3040
GB     172
CA      87
ES      77
IN      58
      ...
MK       1
BS       1
IR       1
CR       1
MT       1
Name: count, Length: 72, dtype: int64

In [13]:
#describe shows a summary of numerical attributes, including standard deviation.
#percentile 25% shows the value in which a given percentage of observations in a group falls.
#e.g. 25% of salaries fall below 95000.  50% of salaries fall below 135000.  75% fall below 175000
salaries_df.describe()

         work_year        salary  salary_in_usd  remote_ratio
count  3755.000000  3.755000e+03    3755.000000   3755.000000
mean   2022.373635  1.906956e+05  137570.389880     46.271638
std       0.691448  6.716765e+05   63055.625278     48.589050
min    2020.000000  6.000000e+03    5132.000000      0.000000
25%    2022.000000  1.000000e+05   95000.000000      0.000000
50%    2022.000000  1.380000e+05  135000.000000      0.000000
75%    2023.000000  1.800000e+05  175000.000000    100.000000
max    2023.000000  3.040000e+07  450000.000000    100.000000

In [19]:
# iterate over rows and read column values.
for index, row in salaries_df.iterrows():
    salary_in_usd = row['salary_in_usd']
    is_number = isinstance(salary_in_usd, (int, float))
    if is_number == False:
        print(salary_in_usd)

In [31]:
# filter out rows other than for 2023 and company location of US
salaries_2023_df = salaries_df[salaries_df['work_year'] == 2023]
salaries_2023_US_df = salaries_2023_df[salaries_2023_df['company_location'] == 'US']
salaries_2023_US_df

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
5,2023,SE,FT,Applied Scientist,222200,USD,222200,US,0,US,L
6,2023,SE,FT,Applied Scientist,136000,USD,136000,US,0,US,L
9,2023,SE,FT,Data Scientist,147100,USD,147100,US,0,US,M
...,...,...,...,...,...,...,...,...,...,...,...
1815,2023,SE,FT,Machine Learning Engineer,134500,USD,134500,US,0,US,L
1817,2023,MI,FT,Data Scientist,130000,USD,130000,US,0,US,M
1818,2023,MI,FT,Data Scientist,90000,USD,90000,US,0,US,M
1819,2023,EN,FT,Data Engineer,160000,USD,160000,US,0,US,M
1820,2023,EN,FT,Data Engineer,135000,USD,135000,US,0,US,M

In [37]:
average_salary_by_level = salaries_2023_US_df.groupby(['job_title', 'experience_level'])['salary_in_usd'].mean()
average_salary_by_level

job_title                          experience_level
AI Developer                       MI                  200000.000000
Analytics Engineer                 EX                  187000.000000
                                   MI                  175350.000000
                                   SE                  168294.750000
Applied Machine Learning Engineer  MI                  130000.000000
                                                           ...
Research Engineer                  MI                  162500.000000
                                   SE                  171678.857143
Research Scientist                 EN                  144000.000000
                                   MI                  162680.000000
                                   SE                  183729.062500
Name: salary_in_usd, Length: 75, dtype: float64